body {
    
    font-family: 'Smooch Sans', sans-serif;
    background: rgb(15,0,255);
    background: linear-gradient(90deg, rgba(15,0,255,1) 0%, rgba(0,0,0,0.4822303921568627) 100%, rgba(0,0,0,1) 100%);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    
}

fieldset {
    border: solid 3px dodgerblue;
}

.legenda{
    background-color: dodgerblue;
    padding: 8px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    text-align: center;
}

.imputBox{
    position: relative;

}

.imputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: opx;
    pointer-events: none;
    transition: .5s;
}

.imputUser:focus ~ .labelInput, 
.imputUser:valid ~ .labelInput{
    top: -15px;
    font-size: 12px;
    color: dodgerblue;
}

#dataNascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;

    
}

#submit {
    font-size: 15pt;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: rgb(15,0,255);
    background: linear-gradient(90deg, rgba(15,0,255,1) 0%, rgba(0,0,0,0.4822303921568627) 100%, rgba(0,0,0,1) 100%);
}

#submit:hover {
    border: 1px solid white;
    background: rgb(7, 1, 87);
    background: linear-gradient(90deg, rgb(8, 1, 105) 0%, rgba(0,0,0,0.4822303921568627) 100%, rgba(0,0,0,1) 100%);
}